
 <div id="cookies" style="display:{{site.cookies_banner}}">
      <p style="text-align:left; padding-left:8px">
        <a 
          value="hide/show" 
          id="check" 
          class="waves-effect waves-light green lighten-1  btn-floating pulse" 
          onclick="Materialize.toast('{{site.cookie_accept_message}}', 2000)" >
            <i class="fa-check fa-4 fa "></i>
        </a>
      </p>
      <!-- Tap Target Structure -->
      <div class="tap-target" data-activates="check">
        <div class="tap-target-content">
          <h5 style="color:black;">Cookie Policy</h5>
          <p>We use Cookies on this website to track usage. By continuing to use this website, you agree to the use of Cookies.</p>
          <br><br><br>
          <p><b>For more information visit the <a href="https://www.cookielaw.org/google-analytics-eu-cookie-law/">Cookie Law Website.</a></b></p>
        </div>
      </div>
    </div>     
