<section id="meetups-prev" class="call-to-action bg-primary">
    <div class="container">
      <div class="row">
          <div class="clearfix">
              {% for post in site.posts  %}
        
                {% capture blogDate %}{{post.date | date: '%s' }}{% endcapture %}
                <div class="event-sqaure" >

                  <a href="{{ post.redirectto }}">
                    
                    <h2>{{ post.title }} <span>{{ post.date | date: "%b %-d, %Y" }}</span></h2>
                    <div class='event-square-overlay'></div> 
                  </a>
                </div>
        
              {% endfor %}
            </div>
            <div class="clearfix">

      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  