<section id="pool">

    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row text-center">
                <h2>Zostań prelegentem!</h2>
                <hr class="small">
            </div>
            
            <div class="row">
                <div class="col-md-2">
                    <div class="portfolio-item">    
                        <br/>
                        <a href="https://goo.gl/forms/jeP3i3eozRrcCslF2"> 
                            <i class="btn btn-light fa fa-microphone fa-fw fa-5x btn-equal-padding"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <h2>Masz ciekawą historię? opowiedz ją u nas. <br/>
                        Nie masz doświadczenia ale chcesz wystąpić? 
                    </h2>
                    <h4>
                        <br/>
                        Jeśli masz coś gotowego napisz a znajdziemy termin. <br/>
                        Jeśli nie wiesz jak zacząć pomożemy Ci przygotować prezentację i wystąpienie.<br/>
                        Co roku w czerwcu urządzamy całe spotkanie przeznaczone dla debiutantów aby można było spróbować swoich sił.<br/>
                    </h4>
                </div>
            </div>
        </div>
    </aside>
</section>