<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Partnerskie wydarzenia</h2>
        <hr class="small">
        <div class="row">
            <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="www.defconf.pl">
                    <img class="img-portfolio img-responsive" src="img/portfolio-1.png">
                  </a>
                </div>
              </div>
        </div>
        <div class="row">         
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://krakow.4developers.org.pl">
                <img class="img-portfolio img-responsive" src="img/4devkrakow.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://katowice.4developers.org.pl">
                <img class="img-portfolio img-responsive" src="img/4devkatowice.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://wroclaw.4developers.org.pl">
                <img class="img-portfolio img-responsive" src="img/4devwroclaw.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
