<section id="presentationscale" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Skala trudności prezentacji</h2>
        <p class="lead">
            Microsoft przyjął skalę oznaczania stopnia trudności danej sesji/prezentacji.<br />
            <br />
            Dzięki temu ma być łatwiej zorientowac się, jak trudna w zrozumieniu będzie dana sesja oraz jaką wiedzę wypadałoby posiadać przed pójściem na nią.<br />
            <br />
            Skala jest bardzo prosta i sklada sie z liczb od 100 do 400.<br />
            <br />
            I tak:<br />
            <b>Poziom 100</b><br />
            Bardzo ogólne wprowadzenie do tematu. Opisy z pogranicza marketingu i wiedzy technicznej. Nie są wymagane żadne wcześniejsze doświadczenia w tym temacie.<br />
            <br />
            <b>Poziom 200</b><br />
            Wprowadzenie techniczne do tematu. Do sesji zalecana jest znajomosc danego tematu na poziomie znikomym lub podstawowym.<br />
            <br />
            <b>Poziom 300</b><br />
            Sesja techniczna opisująca szczegóły danego zagadnienia. Wymagana jest znajomość tematu i zrozumienie podstaw.<br />
            <br />
            <b>Poziom 400</b><br />
            Sesja mocno techniczna opisująca bardzo specjalistyczne funkcje i rozwiązania. Osoba uczestnicząca w takiej sesji powinna mieć w danym temacie spore doświadczenie.  
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
