<aside class="callout">
    <div class="container">
        <div class="row">
            <div class="text-vertical-center">
                <h2>Sponsorzy oraz partnerzy</h2>
            </div>
            <div class="col-md-3">
                <div class="portfolio-item">
                    <img class="img-portfolio img-responsive" src="img/sponsor-billenium.png">
                </div>
            </div>
            <div class="col-md-3">
                <div class="portfolio-item">
                    <img class="img-portfolio img-responsive" src="img/sponsor-ciniba.jpg">
                </div>
            </div>
            <div class="col-md-3">
                <div class="portfolio-item">
                    <img class="img-portfolio img-responsive" src="img/sponsor-jb.png">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="portfolio-item">
                    <img class="img-portfolio img-responsive" src="img/sponsor-us.png">
                </div>
            </div>
            <div class="col-md-3">
                <div class="portfolio-item">
                    <img class="img-portfolio img-responsive" src="img/sponsor-microsoft.png">
                </div>
            </div>
            <div class="col-md-3">
                <div class="portfolio-item">
                    <img class="img-portfolio img-responsive" src="img/sponsor-xa-blue.png">
                </div>
            </div>
        </div>
    </div>
</aside>
