<aside class="callout">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Nasi Sponsorzy</h2>
                <hr class="small">
            </div>
            <div class="col-md-6">
                <div class="portfolio-item">
                    <a href="http://billennium.pl/">
                        <img class="img-portfolio img-responsive" src="img/sponsors/sponsor-billenium.png">
                    </a>
                </div>
            </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                    <a href="https://www.accenture.com/pl-en/careers/explore-careers/area-of-interest/technology-careers">
                        <img class="img-portfolio img-responsive" src="img/sponsors/accenturetech.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
         <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Partnerzy</h2>
                <hr class="small">
            </div>
                <div class="col-md-4">
                <div class="portfolio-item">
                    <img class="img-portfolio img-responsive" src="img/sponsors/sponsor-jb.png">
                </div>
            </div>           
            <!-- <div class="col-md-4">
                <div class="portfolio-item">
                    <img class="img-portfolio img-responsive" src="img/sponsors/sponsor-us.png">
                </div>
            </div> -->
            <div class="col-md-4">
                <div class="portfolio-item">
                    <img class="img-portfolio img-responsive" src="img/sponsors/sponsor-microsoft.png">
                </div>
            </div>
            <div class="col-md-4">
                <div class="portfolio-item">
                    <img class="img-portfolio img-responsive" src="img/sponsors/gruba.it.png">
                </div>
            </div>
        </div>
    </div>
</aside>
