<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  {% include navigation.html %}
  {% include header.html %}
  
  {% include next-meeting.html %}
  {% include meetups-prev-nearest.html %}
  {% include partner-events.html %}
  {% include find-us-links.html %}
  {% include pool.html %}
  {% include sponsors.html %}
  {% include about.html %}


  <!-- {% include eventcalendar.html %} -->
  <!-- {% include map.html %} -->
  {% include organizers.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

{% include googleanalitics.html %}
</html>
